name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: Tar files
      run: tar -cvf my_files.tar /home/runner/work/WebScraperConsole/WebScraperConsole/WebScraper/bin/Release/net5.0/win-x64/



    - name: Upload Artifact
      uses: actions/upload-artifact@v2
      with:
      name: my-artifact
      path: my_files.tar