name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: Publish
      run: dotnet publish -c Release -r win10-x64 -p:PublishSingleFile=true --self-contained false

    - name: Create dir
      run: mkdir ./newArchive
    - name : cp chromedriver
      run: cp ./WebScraper/bin/Debug/net5.0/chromedriver.exe ./newArchive
    - name : cp webscraper
      run: cp /home/runner/work/WebScraperConsole/WebScraperConsole/WebScraper/bin/Release/net5.0/win10-x64/publish/**.exe ./newArchive
    - name: Tar files
      run: tar -cf my_files.tar ./newArchive


    - name: Upload Artifact
      uses: actions/upload-artifact@v2
      with:
        name: my-artifact
        path: my_files.tar